      </main> <!-- main end -->

      <footer>
        <p>Copyright <%= new Date().getFullYear() %>. All rights reserved.</p>
      </footer>
      
    </div> <!-- .container end -->

    <script src="/js/main.js"></script>
  </body>
</html>